@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  background-color: #4A2B33;
}

.page-header {
  min-width: 1280px;
}

.page-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-style-header {
  color: #D27487;
}

.main-nav-list > li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.main-nav-list {
  display: flex;
  width: 400px;
  height: 25px;
}

.links-to-soc > li {
  list-style-type: none;
  margin-right: 20px;
}

.links-to-soc {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  min-width: 400px;
  min-height: 25px;
}

a {
  text-decoration: none;
}
